@using Book_Rental_MVC.Utility
@model List<Kitap>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="container">

    <div class="row pt-3 pb-4">
        <div>
            <h1>Kitaplar</h1>
        </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Resim</th>
                <th>Kitap Adi</th>
                <th>Tanım</th>
                <th>Yazar</th>
                <th>Fiyat</th>
                <th>Kitap Türü</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" valign="middle"><img src="@item.ResimUrl" style="border-radius: 7px; border: 1px solid #bbb9b9;
                                                    max-width: 145px; max: 275px;" /></td>
                    <td>@item.KitapAdi</td>
                    <td>@item.Tanim</td>
                    <td>@item.Yazar</td>
                    <td>@item.Fiyat</td>
                    <td>@item.KitapTuru.Ad</td>

                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <td>
                            <a asp-controller="Kitap" asp-action="EkleGuncelle" asp-route-id="@item.Id" class="btn btn-info" type="button">Kitap Güncelle</a>
                        </td>
                        <td>
                            <a asp-controller="Kitap" asp-action="Sil" asp-route-id="@item.Id" class="btn btn-danger" type="button">Kitap Sil</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @if(User.IsInRole(UserRoles.Role_Admin))
                        {
    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Kitap" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">Yeni Kitap Oluştur</a>
        </div>
    </div>
                        }
</div>

